body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{cursor: pointer; }
.moreLink { float: right; cursor: pointer;}

/* dropdown component styles */
.formContainer{ 
  width: 600px;
  margin: 60px 0 0 60px;
}
.dd-header{
  width: 320px;
  padding: 8px;
  border: 1px solid #333;
  clear: both;
  min-height: 23px;
}
.dd-list-wrapper{ width: 320px; }
.dd-arrow{
  width: 23px;
  border: 1px solid #333;
  float: right;
  height: 23px;
  cursor: pointer;
  /* background: url("./images/down-arraw.png") no-repeat; */
  background-image: url("./images/down-arrow.png");
  background-repeat: no-repeat;
  background-size: 76%;
  background-position: 3px 4px;
}
.dd-header-title{ float: left;}
.dd-list-search { padding: 8px;}
.dd-list-search .searchbox {     
  width: 305px;
  padding: 6px; 
}
.dd-list-items { 
  list-style: none; 
  margin: 0;
  padding: 0 0 0 12px;
}
.dd-list-item { padding: 6px 0; cursor: pointer;  }
.buttonStyle01 { float: right; }



